<!-- 
  TODO Add image next to name and title
  TODO use left-column right column with blue divider bars bars around h2 tags
  TODO use flex for columns
  TODO research other cool things that can be done for this

 -->
<div class="flex-container justify-start">
  <div class="flex-1 resumeImageWrapper">
    <img id="profileImage" class="resumeImage" src="./assets/profile-pic.jpeg" />
  </div>
  <div class="flex-2">
    <div class="flex-container justify-around">
      <h1>Hayden Brown, Software Engineer</h1>
      <div class="flex-1" style="text-align: right;">
        <p>Woodbury, MN United States<br>217-714-6040<br>brown.hayden14@gmail.com</p>
      </div>
    </div>
    
  </div>
  
</div>

<h2>About</h2>

<p>I'm a Software Engineer who loves learning and working with a team to solve problems and deliver value. 
  Initially focusing on front-end web development with Angular, I've contributed extensively to back-end systems.
  I continue to learn new technologies regularly and I'm always looking for new ways to expand my skillset.</p>

<h2>Professional Achievements</h2>

<p><strong>Lead Angular Developer</strong>: 
  <small></small>Building and enhancing UIs for authentication, user management and billing systems for Wolfram Research for managing hundreds of thousands of subscription licenses.
</p>

<!-- <p><strong>Site License UI</strong>: Developing a user interface for license administrators to provision access to our products and manage thousands of users.</p> -->

<p><strong>Auto Renewing Subscriptions</strong>: Designing and implementing a new product offering for an auto-renewing subscription for our software licenses and developing a way for legacy users to transition to the new system.</p>

<p><strong>Modernizing Purchasing System</strong>: Leading the development of a new checkout flow and aided in a major re-write of our backend application using Wolfram Language.</p>

<p><strong>Cabins USA Hybrid Mobile Application</strong>: Writing a mobile application for booking vacation rentals for iOS and Android using the Ionic Framework and Angular.</p>

<h2>Work History</h2>

<p>Lead Web Front-end Engineer, Wolfram Research, Champaign IL (Feb 2023 To Present)</p>

<p>Software Engineer, Wolfram Research, Champaign IL (Nov 2018)</p>

<p>Web Developer, Cabins USA, Pigeon Forge, TN (Jul 2014)</p>

<h2>Skills</h2>
<p>Angular, JavaScript, Java, Wolfram Language, Git, Jira, Bitbucket, PHP</p>
<p>Working with stakeholders to discover requirements and design software.</p>
<!-- 
<h2>Personal Site</h2>

<p><a href="https://haydenjogs92.github.io/personal-site/">https://haydenjogs92.github.io/personal-site/</a></p> -->

<h2>Education</h2>

<p>B.A. History, Maryville College, Maryville, TN, 2014</p>