.showWhenSmall {
  display: none;
}

.hideWhenSmall {
  display: block;
}

#mainNav {
  padding-left:10px;
  padding-right:10px;
  margin-bottom:0px;
  padding-top: 40px!important;
}

.navInner {
  padding: 0 20px;
  display: flex;
  justify-content: space-between
}

.linkList {
  a {
    padding-right: 20px;
  }
}

$collapseMenuBreakpoint: "550px";

@media (max-width: $collapseMenuBreakpoint) {
  .showWhenSmall {
    display: block;
  }
  .hideWhenSmall {
    display:none;
  }
}

@media (min-width: $collapseMenuBreakpoint) {
  .showWhenSmall {
    display: none;
  }
  .hideWhenSmall {
    display:block;
  }
}

/* Dropdown for smaller viewports */
.dropdown {
  position: relative;
  &:hover {
    .dropdown-content {
      display: block;
    }
  }
}

.dropdown-content {
  display: none;
  position: absolute;
  right: 0;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  &:hover {
    background-color: #ddd;
  }
}