<div id="mainNav" class="navbar" > 
    <div class="navInner">
      <div>
        <strong><a class="colorWhite" href="./">Hayden Brown</a></strong>
      </div>
      <div class="linkList hideWhenSmall">
        <ng-container *ngFor="let navLink of navLinks">
          <a [href]="navLink.urlPath">
            {{navLink.label}}
          </a>
        </ng-container>
      </div>
      <div class="showWhenSmall">
        <div class="dropdown">
          Menu
          <div class="dropdown-content">
            <ng-container *ngFor="let navLink of navLinks">
              <a [href]="navLink.urlPath">
                {{navLink.label}}
              </a>
            </ng-container>
          </div>
        </div>
      </div>
    </div>  
</div>