
.navbarTheme {
  background-color: #47a5df!important;
  color:white!important;
}


.colorWhite {
  color:white!important;
}

.navbarTheme {
  background-color: #47a5df!important;
  color:white!important;
}

.menu-item {
  color:white!important;
}

 .noHoverColor *:hover {
  background-color:#47a5df!important;
  border-color:#47a5df!important;
}

.menuBottom {
    background-color: #eff5f8;
    height: 15px;
}

.navbar nav>ul>li.menu-item.open {
  background:#47a5df!important;
  border-color:#47a5df!important;
}

.menu-item:hover {
  background-color:#47a5df!important;
  border-color:#47a5df!important;
}

.footerLink {
  /*color:white;*/
  color:black;
  text-decoration: underline;
}