<div class="col-12" style="text-align:center;margin-top:20px;">
  <div class="innerSidebar">
    <a href="/">
      <div class="avatar">
      </div>
    </a>
  </div>
</div>

<div style="margin:15px 0;text-align: center;">
  <footer>
    Hayden Brown | {{year}}<br>
    <ng-container *ngFor="let navLink of navLinks; let last = last">
      <a [href]="navLink.urlPath">{{navLink.label}}</a>
      <ng-container *ngIf="!last">
        &nbsp;&#183;&nbsp;
      </ng-container>
    </ng-container>
  </footer>
</div>
  